 .game {
     width: 470px;
     text-align: center;
     font-family: system-ui;
     color: white;
     margin: auto;
     font-weight: 500;

 }

 .title {
     background: #f25;
     padding: 8px 0;
     margin: 8px 0;
 }

 span {
     color: black;
 }

 .square {
     width: 150px;
     height: 150px;
     background: #f25;
     float: left;
     margin: 2px;
     font-size: 50px;
 }

 .square:hover {
     background: black;
     cursor: pointer;
 }